html {
 height: 100%;
 width: 100%;
 background-color: #000000;
 background: url(../images/bgs/bg.24.11.2.webp);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-origin: content-box;
}
body {
 font-family: Verdana, sans-serif;
}
.centerposter {
 top: 45%;
 left: 50%;
 bottom: 0;
 right: 0;
 transform: translate(-50%, -45%);
 position: absolute;
 max-width: 75vw;
 max-height: 55vh;
}
button.men {
 display: flex;
 transition: all 0.2s ease, visibility 0s;
 border-radius: 25px;
 background: #831711;
 border: 5px solid #450808;
 padding: 1px 20px 1px 20px;
 text-align: center;
 margin: 0 0.3vw;
}
button.men:hover {
 background: #AC211B;
 cursor:pointer;
}
.menbar {
 display: flex;
 position: absolute;
 top: 10%;
 left: 50%;
 transform: translate(-50%, -10%);
 padding-left: 0;
 margin: 0 0.25vw;
 justify-content: evenly;
}
.menbar:after {
 content: "";
 clear: both;
 display: table;
}
.socbar {
 display: flex;
 position: absolute;
 top: 90%;
 left: 50%;
 transform: translate(-50%, -90%);
 padding-left: 0;
 margin: 0 1vw;
 font-size: 24px;
}
.socbar:after {
 content: "";
 clear: both;
 display: table;
}
button.soc {
 display: flex;
 transition: all 0.2s ease, visibility 0s;
 border-radius: 100px;
 background: #ffffff;
 border: 5px solid #000000;
 padding: 3px 25px 3px 25px;
 text-align: center;
 margin: 0 clamp(4px, 0.3vw, 10px);
}
button.soc:hover {
 background: #a80755;
 cursor:pointer;
}
li {
 display: inline-block;
}
.buttonp {
 font-family: Verdana, sans-serif;
}
.bottomright {
 position: absolute;
 bottom: 0;
 right: 0;
 margin: 0;
}
.bottomleft {
 position: absolute;
 bottom: 0;
 left: 0;
 margin: 0;
}