html {
 height: 100%;
 width: 100%;
 background-color: #0B363E;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-origin: content-box;
 overflow-y: scroll;
 -ms-overflow-style: none;  /* IE and Edge */
 scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
    display: none; /* Chrome and the rest */
}

@media screen and (max-width: 700px) {
 #link {display:none;}
 #ham {display:block;}
}

@media screen and (min-width: 701px) {
 #ham {display:none;}
 #link {display:inline-block;}
 .seclinks {white-space:nowrap;}
 .seclinksb {display:inline-block;}
 #link a {display: inline-block;}
}

#navbar {background-color:#000000;}
#photos {background-color:#0D6473;}
#posters {background-color: #0B363E;}
#videos {background-color: #080808;}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: Verdana, sans-serif;
}

.header {
 justify-content: center;
 text-align: center;
 padding: 2rem 5%;
 margin: 1rem;
 margin-bottom: 0;
}

.header h1 {
 font-size: 50px;
}

.seclinksb {
 font-size: 20px;
}

.container {
 padding: 2rem 5%;
}

.container .image-container {
 columns: 15rem 3;
 gap: 1rem;
}

.container .image-container img {
 width: 100%;
 height: auto;
 margin-bottom: 1rem;
}

.container .poster-container {
 columns: 25rem 3;
 justify-content: start;
 gap: 1rem;
}

.container .poster-container img {
 width: 100%;
 height: auto;
 margin-bottom: 1rem;
}

.container .video-container {
 columns: 33rem 3;
 justify-content: start;
 gap: 1rem;
}

.container .video-container iframe {
 display: block;
 height: auto;
 width: 100%;
 margin-bottom: 1rem;
 aspect-ratio: 16/9;
}

.container .menubar {
 display: flex;
 width: 100%;
 overflow: hidden;
}

#navbar {
 position: sticky;
 top: 0;
}

#navbar img {
 border-radius:2px;
}

.container .menubar:after {
 content: "";
 clear: both;
 display: table;
}

.pagelinks {
 width: 25%;
 float: left;
 align-self: center;
}

.seclinks {
 width: 75%;
 float: right;
 align-self: center;
 justify-content: right;
 overflow: hidden;
}

.seclinksb {
 float: right;
}

.seclinks a {
 margin: 0.5rem;
 text-decoration: none;
 color: white;
 display: block;
}

.seclinks a:hover {
 color: lightgray;
}

.pagelinks button {
 display: flex;
 float: left;
 border-radius: 100px;
 border-style: none;
 background: #e40770;
 padding: 8px 10px;
 text-align: center;
 margin: 0.3vw;
}

.pagelinks button:hover {
 background: #F95DA8;
 cursor:pointer;
}

.buttonp {
 font-family: Verdana, sans-serif;
 color: black;
}

.footer {
 display: flex;
 padding: 2rem 0;
 background-color: black;
 position: relative;
 align-items: center;
 justify-content: center;
}

.bottomright {
 position: absolute;
 bottom: 0;
 right: 0;
 margin: 0;
}
