html {
 height: 100%;
 width: 100%;
 background-color: #0D6473;
 background-image: url(images/bgs/ibspace.webp);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-origin: content-box;
}
body {
 font-family: Verdana, sans-serif;
}
.centerlogo {
 top: 50%;
 left: 50%;
 bottom: 0;
 right: 0;
 transform: translate(-50%, -50%);
 position: absolute;
 max-width: 75vw;
 max-height: 35vh;
}
button.soc {
 display: flex;
 border-radius: 100px;
 background: #E00971;
 border: 5px solid #000000;
 padding: 12px;
 text-align: center;
 margin: 0 clamp(4px, 0.3vw, 2vw);
 font-size: 24px;
}
button.soc:hover {
 background: #a80755;
 cursor:pointer;
}
button.men {
 display: flex;
 border-radius: 25px;
 background: #080808;
 background: url(images/bbgs/gallery.webp);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 border: 5px solid #000000;
 font-size: 20px;
 padding: 2px 18px;
 text-align: center;
 margin: 0 0.3vw;
}
button.men:hover {
 background: #000000;
 cursor:pointer;
}
.socbar {
 display: flex;
 position: absolute;
 top: 90%;
 left: 50%;
 transform: translate(-50%, -90%);
 padding-left: 0;
 margin: 0 1vw;
 font-size: 24px;
}
.menbar {
 display: flex;
 position: absolute;
 top: 10%;
 left: 50%;
 transform: translate(-50%, -10%);
 padding-left: 0;
}
.socbar:after {
 content: "";
 clear: both;
 display: table;
}
.menbar:after {
 content: "";
 clear: both;
 display: table;
}
li {
 display: inline-block;
}
.buttonp {
 font-family: Verdana, sans-serif;
}
.bottomright {
 position: absolute;
 bottom: 0;
 right: 0;
 margin: 0;
}
.bottomleft {
 position: absolute;
 bottom: 0;
 left: 0;
 margin: 0;
}
