html {
 height: 100%;
 width: 100%;
 background-color: #0F0F0F;
 background: url(images/ibspace2.webp);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-origin: content-box;
}
body {
 font-family: Verdana, sans-serif;
}
.centerlogo {
 top: 50%;
 left: 50%;
 bottom: 0;
 right: 0;
 transform: translate(-50%, -50%);
 position: absolute;
 max-width: 75vw;
 max-height: 35vh;
}
button.soc {
 display: flex;
 transition: all 0.2s ease, visibility 0s;
 border-radius: 100px;
 background: #E00971;
 border: 5px solid #000000;
 padding: 10px;
 text-align: center;
 margin: 0 0.3vw;
}
button.soc:hover {
 background: #a80755;
 cursor:pointer;
}
button.soc2 {
 display: flex;
 transition: all 0.2s ease, visibility 0s;
 border-radius: 25px;
 background: #080808;
 background: url(images/posterbbgs/50p.webp);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 border: 5px solid #000000;
 padding: 10px;
 text-align: center;
 margin: 0 0.3vw;
}
button.soc2:hover {
 background: #000000;
 cursor:pointer;
}
.socbar {
 display: flex;
 position: absolute;
 top: 80%;
 left: 50%;
 transform: translate(-50%, -80%);
 padding-left: 0;
 margin: 0 0.25vw;
 justify-content: evenly;
}
.socbar2 {
 display: flex;
 position: absolute;
 top: 15%;
 left: 50%;
 transform: translate(-50%, -15%);
 padding-left: 0;
 margin: 0 0.25vw;
 justify-content: evenly;
}
.socbar:after {
 content: "";
 clear: both;
 display: table;
}
.socbar2:after {
 content: "";
 clear: both;
 display: table;
}
li {
 display: inline-block;
}
.buttonp {
 font-family: Verdana, sans-serif;
}
.bottomright {
 position: absolute;
 bottom: 0;
 right: 0;
 margin: 0;
}
.bottomleft {
 position: absolute;
 bottom: 0;
 left: 0;
 margin: 0;
}
