html {
 background-color: #000000;
}
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.info-container {
 padding: 2rem 5%;
 columns: 15rem 2;
 gap: 1.4rem;
}
.cover-image img {
 width: 100%;
 height:auto;
 display: block;
}
.info-text-container {
 width: 100%;
 height: auto;
 display: block;
 text-align:left;
}